[submodule "backend"]
	path = backend
	url = https://github.com/SV-Winter-BootCamp-TeamD/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/SV-Winter-BootCamp-TeamD/frontend.git
